.analysisButtonsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    margin-top: 450px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .analysisButton {
    background-color: transparent;
    border: none;
    color: #888;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;
    border-radius: 0;
  }
  
  .analysisButton:hover {
    background-color: #F0F0F0;
    color: #555;
  }
  
  .analysisButton.selected {
    background-color: #888;
    color: #FFFFFF;
  }
  