# Idea files
.idea/

# Environment files
*.env

# Python cache files
*__pycache__*

# Coverage files
/.coveragemyenv

# macOS files
.DS_Store

# Data files
data/
map/
*.csv
*.pdf
*.json
!vercel.json
!package.json
!package-lock.json
.env.local

# Node.js dependencies
node_modules/

# Python virtual environment
myenv/

# Image files
*.png

# Next.js build output
.next/

# Firebase files
.firebase/
firebase-debug.log

# Other files and directories to ignore
tests/
myenv/ 
myenv copy/ 
!.vercel
.vercel
